.bp-bkmklet-drag p{
	margin-bottom:2px;
}
.bp-bkmklet-drag a.bookmarklet-button{
	display: inline-block;
	width: 113px;
	position: relative;
	cursor: move;
	color: #333;
	background: #DFDFDF;
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.07,#E6E6E6),color-stop(0.77,#D8D8D8));
	background-image: -moz-linear-gradient(center bottom,#E6E6E6 7%,#D8D8D8 77%);
	background-repeat: no-repeat;
	background-image-position: 10px 8px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px #B4B4B4 solid;
	font-style: normal;
	line-height: 16px;
	font-size: 14px;
	text-decoration: none;
	text-shadow: white 0 1px 0;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.6);
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size: 12px;
	line-height: 1.4em;
	padding: 8px 8px 8px 8px;
}