body.bp-bookmarklet-frame,
body.bp-bookmarklet-frame:before {
	background: none;
}

body.bp-bookmarklet-frame:before {
	height:0;
}

body.bp-bookmarklet-frame * {
	font-family: "Open Sans";
}

body.bp-bookmarklet-frame #bookmark-container {
	margin: 1em;
}

#buddypress #bookmark-container #message {
	clear: both;
	margin-top: 1em;
}

#bp-bookmarklet-avatar {
	float: left;
}

#bp-bookmarklet-textarea {
	margin-left: 55px;
}

#bp-bookmarklet-textarea textarea {
	width: 98%;
	resize: vertical;
	overflow: hidden;
	height: 50px;
}

#bp-bookmarklet-post-in-box {
	max-width:100%;
	padding: 1em 0;
	z-index: 1000;
	margin-bottom: 1.8em;
	position:relative;
	height: 40px;
	clear:both;
	margin-left: 55px;
}

#bp-bookmarklet-post-in-box.in-profile {
	float:left;
	clear:none;
	margin-bottom: 0;
}

#bp-bookmarklet-post-in-box.in-profile select {
	max-width: 100%;
}

#bookmark-container .bp-item img.avatar {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

#bp-bookmarklet-post-in-box select {
	float: left;
	max-width: 23%;
	height: auto;
	margin: 1% auto;
}

#bp-bookmarklet-post-in-box #bookmark-item-autocomplete {
	width: 97%;
}

#bp-bookmarklet-post-in-box ul {
	background: #fff;
	position:absolute;
	overflow: hidden;
	list-style: none;
	float: right;
	right: 1.5%;
	width: 75%;
	border: solid 1px #eaeaea;
}

#bp-bookmarklet-post-in-box ul input[type=text] {
	border: none;
}

#bp-bookmarklet-post-in-box ul li:not(:last-child) {
	border-bottom: solid 1px #eaeaea;
}

#bp-bookmarklet-post-in-box ul li:not(:first-child) {
	padding: 0.6em;
}

#bp-bookmarklet-post-in-box ul li:not(.selected) {
	cursor: pointer;
}

#bp-bookmarklet-post-in-box ul li.selected {
	background-color: #f7f7f7;
	padding: 5px;
}

#bp-bookmarklet-submit,
#bp-bookmarklet-options,
#bp-bookmarklet-attach {
	margin-left: 55px;
	clear:both;
	padding:0;
}

#bp-bookmarklet-options {
	padding:1em 0;
}

#bp-bookmarklet-submit {
	overflow: hidden;
}

#bp-bookmarklet-submit.in-profile {
	margin-left: 0;
	clear:none;
	padding: 1em 0;
}


#bp-bookmarklet-submit input {
	float:right;
	margin:0 1em;
}

#buddypress #bp-bookmarklet-submit-button {
 	color: #ededed;
	background: #555;
}

#buddypress #bp-bookmarklet-submit-button:hover {
 	color: #555;
	background: #ededed;
}

#bp-bookmarklet-post-in-box a.bp-remove-item,
a#bookmarklet-no-image {
	text-decoration: none;
	border:none;
	display:block;
	float:right;
}

#bp-bookmarklet-attach .bp-bookmarklet-button {
	display:inline-block;
	margin:1em 0.3em;
}

ul#bp-bookmarklet-buttons {
	margin:0;
}

#bp-bookmarklet-attach .bp-bookmarklet-button a.button {
 	padding:5px 10px;
 	float:none;
 	width:auto;
 	height:auto;
}

#bp-bookmarklet-attach .bp-bookmarklet-button.active a.button {
 	background:#555;
 	color:#FFF;
}

#bp-bookmarklet-attach .bp-bookmarklet-button a.dashicons:before {
	font-size: 20px;
}

#bp-bookmarklet-post-in-box a.bp-remove-item:before,
a#bookmarklet-no-image:before {
	font-family: dashicons;
	font-size:25px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a.bp-remove-item:before,
a#bookmarklet-no-image:before {
	content: "\f158";
	vertical-align: bottom;
}

#bp-bookmarklet-link #activity-link {
	width: 98%;
}

#bp-bookmarklet-link .link-output {
	margin:10px 0;
	overflow: hidden;
}

#bp-bookmarklet-link .noimage {
	display: none;
}

#bp-bookmarklet-link img.link-thumbnail {
	display: block;
	max-width: 100%;
	margin: 10px auto;
}

#bp-bookmarklet-link .link-content {
	margin: 1em;
}

#bp-bookmarklet-link .link-content h4 {
	margin-top: 0;
}

#bp-bookmarklet-link .link-content p.description {
	font-size:80%;
}

#bp-bookmarklet-link #loader {
	margin:1em auto;
	background: url( '../images/spinner-2x.gif' ) no-repeat;
	width:40px;
	height:40px;
}

#bp-bookmarklet-link ul.link-images {
	list-style:none;
	overflow:hidden;
	margin: 10px 0;
}

#bp-bookmarklet-link ul.link-images li {
	float:left;
	margin-right: 0.2em;
}

#bp-bookmarklet-link ul.link-images li a {
	width: 80px;
	height: 80px;
	background-size: cover!important;
	background-repeat: no-repeat;
	display: block;
	border:solid 2px #FFF;
}

#bp-bookmarklet-link ul.link-images li a:not( .selected ) {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

#bp-bookmarklet-link ul.link-images li a.selected {
	border: solid 3px #0073aa;
}
